.App {
  text-align: center;
}
.portrait-tips {
  display: none;
}
#root{
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 100vh;
  background: white;
}
#viewer {
  width: 100vw;
  height: 100vh;
  position:fixed;
  top:0;
  z-index:0;
}
@media screen and (orientation: portrait) {
  .portrait-tips {
    position: fixed;
    z-index: 1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #80808075;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

